body {
    background-image: url(https://i.pinimg.com/originals/13/3b/e8/133be84f10f9baa4a2127b0f3ff1d66b.jpg);
    background-size:auto;
    font-family: 'Fondamento';
}
@keyframes example {
    0%   {background-color: black;}
    25%  {background-color:forestgreen;}
    50%  {background-color: silver;}
    75% {background-color: forestgreen;}
    100% {background-color: black;}
  }
#main-main {
    margin: 35px 35px;
    border: red solid 5px;
    background:black;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
#mind-main {
    margin: 35px 35px;
    border: red solid 5px;
    background:black;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
#body-main {
    margin: 35px 35px;
    border: red solid 5px;
    background:black;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
#soul-main {
    margin: 35px 35px;
    border: red solid 5px;
    background:black;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

h2 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px red;
    font-size:45px;

}
#main-img {
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
#buttons {
    display:flex;
    justify-content: space-evenly;
  
}

button { 
    color: #aea122;
	padding: 9px;
	border-radius: 20%;
	font-size: 15px;
    transition: all 500ms ease;
    background: white;  
    border: #aea122 solid 1px;
    margin: 70px 0px 10px 0px;
}

#mind-button:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    color: white;
    border: white solid 1px;
    background:#aea122;
    padding: 11px;
	border-radius: 25%;
	font-size: 15px;
}

#body-button:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    color: white;
    border: white solid 1px;
    background:#aea122;
    padding: 11px;
	border-radius: 25%;
	font-size: 15px;
}

#soul-button:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    color: white;
    border: white solid 1px;
    background:#aea122;
    padding: 11px;
	border-radius: 25%;
	font-size: 15px;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#body-img {
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#body-p {
    color:white;
    text-align:center;
    font-size:20px;
}

#body-header h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
    text-align: center;
    text-shadow: 2px 2px red;
    letter-spacing: .2em;
}

#body-c {
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    body{display:flex;}
    #buttons {
        display:flex;
        justify-content: space-evenly;
        margin: 40px 0px 5px 0px;
    }
    #body-img {
        height: auto;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: transform .5s, filter 0.5s ease-in-out;
        filter: grayscale(100%);
    }

    #body-img:hover {
        filter: grayscale(0);
        transform: scale(1.1);
        }
    
    #body-p {
        color:white;
        text-align:center;
        font-size:20px;
        animation: animate 1s linear forwards;
        opacity: 0;
        animation-delay: 2.5s;
    }
}

#mind-c {
    overflow: hidden;
}

#mind-img {
    height: auto;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .5s, filter 0.5s ease-in-out;
    filter: grayscale(100%);
}

#mind-img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
    }

#mind-p {
    color:white;
    text-align:center;
    font-size:20px;
    animation: animate 1s linear forwards;
    opacity: 0;
    animation-delay: 2.5s;
}

#mind-header h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
    text-align: center;
    text-shadow: 2px 2px red;
    letter-spacing: .2em;
}

#soul-header h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
    text-align: center;
    text-shadow: 2px 2px red;
    letter-spacing: .2em;
}

#soul-img {
    height: auto;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .5s, filter 0.5s ease-in-out;
    filter: grayscale(100%);
}

#mind-img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
    }

span {
    display: inline-block;
    animation: animate 1s linear forwards;

}

h2 span:nth-child(1){
    opacity: 0;
    animation-delay: 1s;
}
h2 span:nth-child(2){
    opacity: 0;
    animation-delay: 1.5s;
}
h2 span:nth-child(3){
    opacity: 0;
    animation-delay: 1.75s;
}
h2 span:nth-child(4){
    opacity: 0;
    animation-delay: 2s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    font-size:30px;

    }}



#mind-header {
    font-size: 100px;
    margin:0px 0px;
    
}
#mind-top-head {
    animation: hide 1s linear 2s 1 forwards;
    font-size:30px;
    margin:0px 0px;
}

@keyframes hide {
    to {
        opacity: 0;
    }
}
#body-header {
    font-size: 100px;
    margin:0px 0px;
    
}
#body-top-head {
    animation: hide 1s linear 2s 1 forwards;
    font-size:30px;
    margin:0px 0px;
}


#soul-header {
    font-size: 100px;
    margin:0px 0px;
    
}
#soul-top-head {
    animation: hide 1s linear 2s 1 forwards;
    font-size:30px;
    margin:0px 0px;
}

#return-button {
    margin: 0px 0px 5px 350px;
}

@media only screen and (max-width: 600px) {
    body{display:flex;}
    #buttons {
        display:flex;
        justify-content: space-evenly;
        margin: 40px 0px 5px 0px;
    }
    #body-img {
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #body-p {
        color:white;
        text-align:center;
        font-size:20px;
    }
    #mind-img {
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #main-img {
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #body-main, #mind-main, #soul-main {
        height:auto;
        width:100%;

    } 
    #return-button {
        margin: 0px 0px 5px 150px;
    }
}
